{
    "grdf": {
        "username": "",
        "password": "",
        "pce": ""
    },
    "influx": {
        "host": "",
        "port": 8086,
        "db": "",
        "username": "",
        "password": "",
        "ssl": true,
        "verify_ssl": true
    },
    "mqtt": {
        "host": "",
        "port": 1883,
        "keepalive": 60,
        "topic": ""
    }
}